@use "../../config/variable.scss" as vars;
.CareerForm-Txt1 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 32px;
  color: vars.$Primary-Color;
  text-align: center;
}
.caeeerForm-Bttn1 {
  font-family: vars.$Montserrat-SemiBold !important;
  font-size: 18px;
  color: white !important;
  background-color: red !important;
  border-color: white !important;
  width: 100%;
  &:hover {
    color: vars.$Primary-Color2 !important;
  }
}
.caeeerForm-Bttn2 {
  font-family: vars.$Montserrat-SemiBold !important;
  font-size: 18px;
  color: white !important;
  background-color: vars.$Primary-Color !important;
  border-color: white !important;
  width: 100%;
  &:hover {
    color: vars.$Primary-Color2 !important;
  }
}
