@use "../../config/variable.scss" as vars;
.ChooseGoshare-Box1 {
  background-color: #3697f4;
  padding: 20px;
}
.ChooseGoshare-Box2 {
  width: 100%;
  height: 40px;
  //   background-color: white;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 38px;
  text-align: center;
  color: white;
}
.ChooseGoshare-Box3 {
  width: 100%;
  height: 100vh;
  padding: 10px;
  //   background: yellow;
}
