@use "../../config//variable.scss" as vars;
.websiteHeader-Box1 {
  width: 100%;
  height: 80px;
  //   background-color: white;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.websiteHeader-Box2 {
  width: 100%;
  height: 80px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.websiteHeader-Box3 {
  width: 100%;
  height: 80px;
  //   background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (max-width: 992px) {
    display: none !important;
  }
}
.websiteHeader-Txt {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  //   color: black;
  color: white;
}
.img-header {
  width: 100px;
  object-fit: cover;
}
.webSiteHeader-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
  @media only screen and (min-width: 992px) {
    display: none;
  }
}
