$Montserrat-ExtraBold: "Montserrat-ExtraBold";
$Montserrat-Bold: "Montserrat-Bold";
$Montserrat-SemiBold: "Montserrat-SemiBold";
$Montserrat-SemiBold: "Montserrat-SemiBold";
$Montserrat-Medium: "Montserrat-Medium";
$Montserrat-Regular: "Montserrat-Regular";

$Primary-Color: #ffc400;
$Primary-Color2: #ffffff;
$Primary-Color3: #000;
$Background-Color: rgba(0, 0, 0, 0.02);
