@use "../../config/variable.scss" as vars;
/////////////////////////////////////////////
.block-Txt1 {
  width: 100%;
  padding: 20px;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 42px;
  text-align: center;
  color: vars.$Primary-Color;
}
/////////////////////////////////////////////
.homeScreen-Box1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.homeScreen-Box2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
    flex-direction: column;
  }
}
.homeScreen-Box3 {
  width: 100%;
  height: 100%;
}
.homeScreen-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.homeScreen-Box5 {
  height: 200px;
  width: 90%;
}
.homeScreen-Box6 {
  display: flex;
  padding-top: 30px;
}
.homeScreen-Txt1 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 58px;
  color: white;
  opacity: 0.8;
  @media only screen and (max-width: 576px) {
    font-size: 32px;
  }
}
.homeScreen-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  padding-top: 10px;
  @media only screen and (max-width: 576px) {
    font-size: 10px;
  }
}
.homeScreen-BookBttn {
  width: 200px;
  background-color: #ff0a0a;
  border: none;
  font-family: vars.$Montserrat-Bold;
  color: white;
  font-size: 14px;
  height: 40px;
  &:hover {
    color: white !important;
  }
}
////////////////////////------------------BLOCK--2---------------///////////////////////////////
.block3-Box1 {
  background-color: vars.$Background-Color;
  padding: 20px;
}
.block3-Box3 {
  width: 100%;
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  text-align: center;
  color: vars.$Primary-Color;
  padding-bottom: 10px;
}
.block3-Box4 {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.block3-Box5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block3-Box6 {
  width: 30%;
  min-height: 360px;
  padding: 16px;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.block3-Box7 {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.block3-Box8 {
  width: 100%;
  height: 258px;
  border-radius: 6px;
}
.block3-Img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
}
.block3-Txt1 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  color: black;
  text-align: center;
}
.block3-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 12px;
  color: black;
  text-align: center;
}
////////////////////////////////------BLOCK-4--------///////////////////////////////////
.block4-Box1 {
  width: 100%;
  height: 100%;
  background-color: vars.$Background-Color;
}
.block4-Box2 {
  width: 100%;
  height: 100%;
  padding: 0px 77px 30px 100px;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 576px) {
    padding: 16px;
  }
}
.block4-Box3 {
  width: 50%;
  height: 100%;
  padding: 28px;
  @media only screen and (max-width: 576px) {
    width: 100%;
    padding: 5px;
  }
}
.block4-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
}
.block4-Box6 {
  padding-left: 40px;
}
.block4-Txt1 {
  font-family: vars.$Montserrat-Bold;
  font-size: 20px;
  color: #000;
}
.block4-Txt2 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 14px;
  color: #000;
  padding-top: 10px;
}

////////////////////////------------------BLOCK--2---------------///////////////////////////////

.StartOfDelivery {
  width: 100%;
  background-color: vars.$Background-Color;
  @media screen and (min-width: 950px) {
    height: 100%;
    padding: 50px;
  }
}
.headerOfDelivery {
  height: 20%;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$Primary-Color;
  text-align: center;
}
.secondBigText {
  height: 30%;
}
.secondBigTextDiv {
  font-family: vars.$Montserrat-Medium;
  font-size: 16.5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cardsDiv {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}
.Vehiclecol {
  height: 240px;
  padding: 20px;
  border-radius: 8px;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  // box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;;
  @media screen and (max-width: 950px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 560px) {
    padding: 10px;
  }
}
.vehicleImage{
height: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.imageSize{
  width: 220px;
  height: 100px;
}
.ImageHeader {
  width: 100%;
  height: 10%;
  font-family: vars.$Montserrat-Bold;
  font-size: 15px;
  text-align: center;
  // background-color: aqua;
}
.Maintext {
  width: 100%;
  font-size: 13.5px;
  height: 40%;
  font-family: vars.$Montserrat-Medium;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  // background-color: blue;
}

////////////////// Block 5 ///////////////

.MainBlock5 {
  width: 100%;
  background-color: vars.$Background-Color;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 740px) {
    height: 90vh;
  }
}
.Block5-Header {
  height: 13%;
  // background-color: aqua;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: vars.$Primary-Color;
  text-align: center;
}
.firstStep-Block5 {
  height: 90%;
  margin-top: 10px;
  // background-color: rgb(27, 29, 136);
}
.firstImage{
  width: 100%;
  height: 100%;
}
.RouteDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Gif1-Block5{
  width: 100%;
  height: 60%;
}
.HeaderCard-Block5{
  width: 100%;
  height: 60px;
  font-family: vars.$Montserrat-Bold;
  font-size: 16px;
  display: grid;
  place-items: center;
  // background-color: #fff;
}
.text-Block5{
  width: 100%;
  height: 25%;
  // background-color: aqua;
  font-family: vars.$Montserrat-SemiBold;
  text-align: center;
}