@use "../../config/variable.scss" as vars;
/////////////////////////////////////////////
.block-Txt1 {
  width: 100%;
  // height: 40px;
  //   background-color: white;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 38px;
  text-align: center;
  color: vars.$Primary-Color;
}
/////////////////////////////////////////////
.homeScreen-Box1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 208, 208);
  position: relative;
}
.homeScreen-Box2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
    flex-direction: column;
  }
}
.homeScreen-Box3 {
  width: 100%;
  height: 100%;
}
.homeScreen-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.homeScreen-Box5 {
  height: 200px;
  width: 90%;
  // background-color: red;
}
.homeScreen-Box6 {
  display: flex;
  padding-top: 30px;
}
.homeScreen-Txt1 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 48px;
  color: white;
  opacity: 0.8;
  @media only screen and (max-width: 576px) {
    font-size: 32px;
  }
}
.homeScreen-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  padding-top: 10px;
  @media only screen and (max-width: 576px) {
    font-size: 10px;
  }
}
.homeScreen-BookBttn {
  width: 200px;
  background-color: #ff0a0a;
  border: none;
  font-family: vars.$Montserrat-Bold;
  color: white;
  font-size: 14px;
  height: 40px;
  &:hover {
    color: white !important;
  }
}
////////////////////////------------------BLOCK--2---------------///////////////////////////////
.block3-Box1 {
  background-color: vars.$Primary-Color2;
  padding: 20px;
}
.block3-Box3 {
  width: 100%;
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  text-align: center;
  color: vars.$Primary-Color;
  padding-bottom: 10px;
}
.block3-Box4 {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.block3-Box5 {
  width: 100%;
  height: 100%;
  // background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block3-Box6 {
  width: 30%;
  min-height: 360px;
  // background-color: black;
  padding: 16px;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.block3-Box7 {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.block3-Box8 {
  width: 100%;
  height: 200px;
  // background-color: orange;
  border-radius: 6px;
}
.block3-Img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.block3-Txt1 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  color: black;
  text-align: center;
}
.block3-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 12px;
  color: black;
  text-align: center;
}
////////////////////////////////------BLOCK-4--------///////////////////////////////////
.block4-Box1 {
  width: 100%;
  height: 100vh;
  background-color: red;
  padding: 20px;
}
.block4-Box2 {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.block4-Box3 {
  width: 100%;
  height: 100%;
  background-color: vars.$Primary-Color;
}
// .homeScreen-Box4 {
//   width: 68%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   @media only screen and (max-width: 576px) {
//     // width: 100%;
//     display: none;
//   }
// }
// .homeScreen-Box5 {
//   width: 100%;
//   background-color: white;
//   border-radius: 6px;
// }
// .homeScreen-Box6 {
//   width: 100%;
//   height: 100%;
//   border-radius: 6px 6px 0px 0px;
// }
// .homeScreen-Box7 {
//   width: 100%;
//   border-radius: 6px 6px 0px 0px;
//   display: flex;
// }
// .homeScreen-Box8 {
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.25);
//   border-radius: 6px 0px 0px 0px;
//   text-align: center;
//   padding: 12px;
//   font-family: vars.$Montserrat-Medium;
//   color: white;
//   font-size: 18px;
// }
// .homeScreen-Box9 {
//   width: 100%;
//   background-color: #ff0a0a;
//   border-radius: 0px 6px 0px 0px;
//   text-align: center;
//   padding: 12px;
//   font-family: vars.$Montserrat-Medium;
//   color: white;
//   font-size: 18px;
// }
// .homeScreen-Box10 {
//   width: 100%;
//   border-radius: 0px 0px 6px 6px;
//   padding: 16px;
// }
// .homeScreen-Box11 {
//   display: flex;
//   width: 100%;
// }
// .homeScreen-Box12 {
//   width: 100%;
//   text-align: center;
//   padding: 6px;
//   font-family: vars.$Montserrat-Bold;
//   color: white;
//   font-size: 16px;
//   // height: 70px;
// }
// .homeScreen-Box13 {
//   width: 100%;
//   text-align: center;
//   padding: 6px;
//   font-family: vars.$Montserrat-Bold;
//   color: white;
//   font-size: 16px;
// }
// .homeScreen-input {
//   height: 100%;
// }
// .homeScreen-input::placeholder {
//   font-family: vars.$Montserrat-Bold;
//   font-weight: bolder !important;
//   font-size: 16px;
// }
// .homeScreen-Bttn1 {
//   width: 100%;
//   height: 100%;
//   background-color: green;
//   font-family: vars.$Montserrat-SemiBold;
//   font-size: 14px;
//   color: white;
// }
// .homeScreen-Box14 {
//   margin-top: 20px;
//   width: 100%;
//   background-color: white;
//   border-radius: 6px;
//   display: flex;
// }

// .homeScreen-SearchInput input {
//   font-size: 14px !important;
//   font-family: vars.$Montserrat-Medium;
//   height: 40px !important;
// }

// .homeScreen-SearchInput button {
//   font-size: 20px !important;
//   font-family: vars.$Montserrat-Medium;
//   height: 50px !important;
//   background-color: green;
// }

// .homeScreen-BookBttn {
//   width: 200px;
//   background-color: #ff0a0a;
//   border: none;
//   font-family: vars.$Montserrat-Bold;
//   color: white;
//   font-size: 14px;
//   height: 40px;
//   &:hover {
//     color: white !important;
//   }
// }


////////////////////////------------------BLOCK--2---------------///////////////////////////////



.StartOfDelivery{
  width: 100%;
  // height: 100vh;
  background-color: #fff;
  @media screen and (min-width: 950px) {
    height: 100vh;
    padding: 50px;
  }
}
.headerOfDelivery{
  height: 20%;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$Primary-Color;
  text-align: center;
}
.secondBigText{
  height: 30%;
  font-family: vars.$Montserrat-Medium;
  font-size: 16.5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cardsDiv{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}
.Vehiclecol{
  height: fit-content;
  background-color: vars.$Primary-Color;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  @media screen and (max-width: 950px) {
  margin-top: 20px;
  }
  @media screen and (min-width:950px) {
    height: 100%;
  }
}
.Vehiclecol:hover{
  background-color: #f1f1f1;
}
.vehicleImage{
height: 50%;
display: grid;
place-items: center;
}
.imageSize{
  width: 90%;
  height: 90%;
}
.ImageHeader{
  width: 100%;
  height: 10%;
  font-family:vars.$Montserrat-Bold;
  font-size: 15px;
  display: grid;
  place-items: center;
}
.Maintext{
  width: 100%;
  font-size: 13.5px;
  height: 40%;
  font-family: vars.$Montserrat-Medium;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}



////////////////// Block 5 ///////////////

.MainBlock5{
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
}
.Block5-firstPoint{
  height: 29%;
  background-color: red;
}
.Block5-secondPoint{
  height: 29%;
  background-color: green;
}
.Block5-thirdPoint{
  height: 29%;
  background-color: yellow;
}
.Block5-Header{
  height: 13%;
  background-color: aqua;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: vars.$Primary-Color;
  text-align: center;
}