@use "../../config/variable.scss" as vars;
/////////////////////////////////////////////
.block-Txt1 {
  width: 100%;
  // height: 40px;
  //   background-color: white;
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 38px;
  text-align: center;
  color: vars.$Primary-Color;
}
/////////////////////////////////////////////
.homeScreen-Box1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 208, 208);
  position: relative;
}
.homeScreen-Box2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
    flex-direction: column;
  }
}
.homeScreen-Box3 {
  width: 100%;
  height: 100%;
}
.homeScreen-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.homeScreen-Box5 {
  height: 200px;
  width: 90%;
  // background-color: red;
}
.homeScreen-Box6 {
  display: flex;
  padding-top: 30px;
}
.homeScreen-Txt1 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 48px;
  color: white;
  opacity: 0.8;
  @media only screen and (max-width: 576px) {
    font-size: 32px;
  }
}
.homeScreen-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  padding-top: 10px;
  @media only screen and (max-width: 576px) {
    font-size: 10px;
  }
}
.homeScreen-BookBttn {
  width: 200px;
  background-color: #ff0a0a;
  border: none;
  font-family: vars.$Montserrat-Bold;
  color: white;
  font-size: 14px;
  height: 40px;
  &:hover {
    color: white !important;
  }
}
////////////////////////------------------BLOCK--2---------------///////////////////////////////
.block3-Box1 {
  background-color: vars.$Primary-Color2;
  padding: 20px;
}
.block3-Box3 {
  width: 100%;
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  text-align: center;
  color: vars.$Primary-Color;
  padding-bottom: 10px;
}
.block3-Box4 {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.block3-Box5 {
  width: 100%;
  height: 100%;
  // background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block3-Box6 {
  width: 30%;
  min-height: 360px;
  // background-color: black;
  padding: 16px;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.block3-Box7 {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.block3-Box8 {
  width: 100%;
  height: 200px;
  // background-color: orange;
  border-radius: 6px;
}
.block3-Img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.block3-Txt1 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  color: black;
  text-align: center;
}
.block3-Txt2 {
  font-family: vars.$Montserrat-Medium;
  font-size: 12px;
  color: black;
  text-align: center;
}
////////////////////////////////------BLOCK-4--------///////////////////////////////////
.block4-Box1 {
  width: 100%;
  height: 100vh;
  background-color: red;
  padding: 20px;
}
.block4-Box2 {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.block4-Box3 {
  width: 100%;
  height: 100%;
  background-color: vars.$Primary-Color;
}
