@use "../config/variable.scss" as vars;
.signUpScreen-Box1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}
.signUpScreen-Box2 {
  min-width: 506px;
  background-color: vars.$Primary-Color2;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  @media only screen and (max-width: 576px) {
    width: 95%;
  }
}
.signUpScreen-Box3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUpScreen-Box5 {
  width: 80%;
  height: 100%;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.signUpScreen-Box4 {
  width: 100%;
  height: 120px;
}
.signUpScreen-Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.signUpScreen-Txt1 {
  font-family: vars.$Montserrat-Medium;
  font-size: 12px;
  color: #000;
  text-align: end;
}
.signUpScreen-Box6 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.signUpScreen-Bttn {
  width: 140px;
  height: 36px;
  background-color: vars.$Primary-Color;
  font-family: vars.$Montserrat-Bold;
  font-size: 12px;
  color: white;
  &:hover {
    color: white !important;
    border: white !important;
  }
}
//////////////////////////----FOOTER-------////////////////////////////

// FEEDBACK

.footer {
  //   background: rgba(217, 217, 217, 0.4);
  background-image: linear-gradient(180deg, #0f2027, #10252c, #2d4957);
}

.feedback-container {
  border: solid #e0e0e0;
  border-width: 1px 0;
  display: flex;
  align-items: center;
}
.feedback-links {
  text-decoration: none;
  color: #ffff;
  font-family: "Montserrat-SemiBold";
  display: flex;
  align-items: center;
}
.feedback-links > section div:nth-child(2) {
  font-family: "Montserrat-Regular";
}
.feedback-links > section div:nth-child(2) u {
  text-decoration: none;
  font-family: "Montserrat-SemiBold";
  color: #0079c1;
}
.feedback-icons {
  margin-right: 10px;
  font-size: 23px;
}
// .feedback-mobile{

// }

// FEEDBACK MODAL

.rating-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.rate-text {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  text-align: center;
}
.rate-text-2 {
  font-family: "Montserrat-SemiBold";
  color: grey;
  font-size: 13px;
  text-align: center;
}

// FOOTER

.footer-container {
  margin-top: 25px;
}

.list-container {
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
  }
}
.list-heading {
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
  font-weight: 700;
  padding-bottom: 12px;
  color: #fff;
}
.list-container ul {
  list-style-type: none;
  padding-left: 0px;
  color: #fff;
}
.list-container ul li {
  font-family: "Montserrat-Regular";
  margin-bottom: 10px;
  color: #fff;
}
.listFooter-logo {
  height: 70px;
  margin-bottom: 16px;
}
.Payment-cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: #fff;
}

// FINAL FOOTER

.final-footer {
  border: solid #e0e0e0;
  border-width: 1px 0 0;
  margin-top: 22px;
}
.final-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  //   @media screen and (max-width: 576px) {
  //     flex-direction: column;
  //     justify-content: space-evenly;
  //     align-items: flex-start;
  //   }
}
.copyright-txt {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  color: #ffff;

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}
.copyright-txt-2 {
  font-family: "Montserrat-Regular";
  color: #ffff;
  font-size: 13px;
  @media screen and (max-width: 576px) {
    font-size: 10px;
    color: #ffff;
  }
}
////////////////////////////----HEADER---------//////////////////////////////
.websiteHeader-Box1 {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.websiteHeader-Box2 {
  width: 100%;
  height: 80px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.websiteHeader-Box3 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 992px) {
    display: none !important;
  }
}
.websiteHeader-Txt {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.img-header {
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}
.webSiteHeader-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
  @media only screen and (min-width: 992px) {
    display: none;
  }
}
.websiteHeader-Bttn {
  width: 100%;
  height: 38px;
  background-color: vars.$Primary-Color;
  font-family: vars.$Montserrat-Bold;
  font-size: 14px;
  color: vars.$Primary-Color2;
  &:hover {
    color: vars.$Primary-Color2 !important;
    border: 1px solid white !important;
  }
}
.header-Drawer-Box1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-Drawer-Box2 {
  // padding: 20px;
  width: 100%;
  // height: 100%;
  // border-bottom: 1px solid red;
  font-family: vars.$Montserrat-SemiBold;
  font-size: 24px;
  color: vars.$Primary-Color;
  width: 100%;
}
.header-Drawer-Txt {
  width: 100%;
  height: 48px;
  font-family: vars.$Montserrat-SemiBold;
  font-size: 20px;
  background-color: vars.$Primary-Color;
  border: none;
  color: vars.$Primary-Color2;
  border-radius: 8px;
}
.header-Drawer-Box3 {
  width: 100%;
  background-color: vars.$Primary-Color;
  border-radius: 8px;
}
.header-Drawer-Box4 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/////////////////////////////////////----------SECTION-BLOCK1----------/////////////////////////////////////////////
.SectionBlock1-Box1 {
  width: 100%;
  height: 70vh;
  position: relative;
  // margin-top: 38px;
}
.SectionBlock1-Box2 {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  //   background-color: red;
  padding: 40px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: center;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
.SectionBlock1-Txt1 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 42px;
  color: white;
  opacity: 0.7;
}
.SectionBlock1-Txt2 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 16px;
  color: vars.$Primary-Color;
  opacity: 0.9;
}
.SectionBlock1-Box3 {
  padding-top: 20px;
}
.SectionBlock1-Bttn {
  width: 180px;
  height: 42px;
  font-family: vars.$Montserrat-Medium;
  color: white;
  font-size: 14px;
  border: 2px solid #ffc400;
  background-color: transparent;
  &:hover {
    color: white !important;

    border: 1px solid #ffc400 !important;
  }
}
/////////////////////////////-----LASTMILE-BLOCK2----------------////////////////////
.SectionBlock2-Box1 {
  width: 100%;
  height: 100%;
  padding: 46px 70px 40px 70px;
  // background-color: #ffc400;
  @media only screen and (max-width: 576px) {
    padding: 10px;
  }
}
.SectionBlock2-Box2 {
  width: 100%;
  height: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SectionBlock2-Box3 {
  width: 100%;
  height: 500px;
  // background-color: red;
  border-radius: 8px;
  @media only screen and (max-width: 576px) {
    height: 300px;
  }
}
.SectionBlock2-Box4 {
  width: 100%;
  height: 100%;
  // background-color: rgb(136, 136, 136);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.SectionBlock2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.SectionBlock2-Txt1 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 12px;
  color: vars.$Primary-Color3;
  padding: 16px;
}
.sectionBlock2-Txt2 {
  font-family: vars.$Montserrat-ExtraBold;
  font-size: 28px;
  color: vars.$Primary-Color3;
  opacity: 0.5;
  padding: 16px;
}
/////////////////////////////----------SECTION-BLOCK-3------------////////////////////////////////////////////////////
.SectionBlock3-Box1 {
  width: 100%;
  height: 100%;
  padding: 46px 70px 60px 70px;
  background-color: #f1f1f1;
  @media only screen and (max-width: 576px) {
    padding: 10px;
  }
}
.SectionBlock3-Txt1 {
  font-family: vars.$Montserrat-Bold;
  font-size: 20px;
  padding-top: 16px;
  color: #0000006e;
}
.SectionBlock3-Txt2 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 14px;
  padding-top: 16px;
  text-align: justify;
  color: vars.$Primary-Color3;
}
.SectionBlock3-Box3 {
  width: 200px;
  height: 100%;
  display: flex;
}
.SectionBlock3-Box4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.SectionBlock3-Bttn {
  width: 200px;
  height: 50px;
  font-family: vars.$Montserrat-SemiBold !important;
  font-size: 18px !important;
  color: vars.$Primary-Color2 !important;
  border-color: white !important;
  background-color: vars.$Primary-Color;
  &:hover {
    color: vars.$Primary-Color2;
  }
}
///////////////////////////////////////-----LASTMILEBLOCK4------////////////////////////////////////
.SectionBlock4-Box1 {
  width: 100%;
  height: 100%;
  padding: 46px 70px 60px 70px;
  background-color: #f1f1f1;
}
.SectionBlock4-Txt2 {
  font-family: vars.$Montserrat-SemiBold;
  font-size: 14px;
  padding-top: 16px;
  color: vars.$Primary-Color3;
}
//////////////////////////////--------LOCATION-SECTION----------//////////////////////////////
.location-Box1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.location-Box2 {
  width: 80%;
  height: 100%;
  // background-color: red;
}
.location-Box3 {
  width: 100%;
  height: 500px;
  @media only screen and (max-width: 576px) {
    height: 184px;
  }
}
.location-Box4 {
  width: 100%;
  text-align: center;
}
.location-Txt1 {
  font-family: vars.$Montserrat-Medium;
  font-size: 14px;
  color: vars.$Primary-Color3;
  text-align: center;
}
///////////////////////////////---------DELIVERY-INDUSTRIES-----------////////////////////////
.deliveryIndustries-Box1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.deliveryIndustries-Box2 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.deliveryIndustries-Box3 {
  width: 33%;
  height: 100%;
  padding: 20px;
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
.deliveryIndustries-Box4 {
  width: 100%;
  min-height: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deliveryIndustries-Box5 {
  width: 100%;
  height: 100px;
  // background-color: pink;
}
.deliveryIndustries-Box6 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.deliveryIndustries-Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.deliveryIndustries-Txt1 {
  width: 100%;
  text-align: center;
  font-family: vars.$Montserrat-Bold;
  font-size: 18px;
  color: vars.$Primary-Color;
}
.deliveryIndustries-Txt2 {
  width: 100%;
  text-align: center;
  font-family: vars.$Montserrat-Medium;
  font-size: 14px;
}
