body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./asset/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./asset/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./asset/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./asset/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./asset/fonts/Montserrat-Regular.ttf");
}
.img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
