body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: rgba(0, 0, 0, 0.02);
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./asset/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./asset/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./asset/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./asset/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./asset/fonts/Montserrat-Regular.ttf");
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formLabel {
  font-family: "Montserrat-Semibold";
  font-size: 10px;
  color: #000;
  padding-left: 6px;
  padding-bottom: 5px;
}
.Business-HeadTxt {
  width: 100%;
  /* padding: 20px; */
  font-family: "Montserrat-ExtraBold";
  font-size: 42px;
  text-align: center;
  color: #ffc400;
}
@media screen and (max-width: 576px) {
  .Business-HeadTxt {
    font-size: 26px;
  }
}
